<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Etsy API Connector - Welcome</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <style>
        body {
            font-family: 'Roboto', sans-serif;
            padding: 2rem;
            background: #f8f9fa;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
            text-align: center;
        }
        .container {
            max-width: 600px;
        }
        h1 {
            margin-bottom: 2rem;
        }
        .btn {
            margin: 0.5rem auto;
        }
        ol {
            text-align: left;
            list-style: none;
            counter-reset: my-awesome-counter;
            padding-left: 0;
        }
        ol > li {
            counter-increment: my-awesome-counter;
            margin-bottom: 2rem;
            border-bottom: 1px solid lightgrey;
            padding-bottom: 1rem;
            position: relative;
            padding-left: 40px;
        }
        ol > li::before { /* This targets only direct children of the ordered list */
            content: counter(my-awesome-counter);
            color: white;
            background: #007bff;
            border-radius: 50%;
            width: 30px;
            height: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: 0;
            left: -30px;
        }
        .action-step {
            animation: pulse 1s 1;
        }
        @keyframes pulse {
            0% { box-shadow: 0 0 0 0 rgba(0,123,255,.5); }
            70% { box-shadow: 0 0 0 10px rgba(0,123,255,0); }
            100% { box-shadow: 0 0 0 0 rgba(0,123,255,0); }
        }
        .form-custom {
            padding-bottom: 1rem;
            border-bottom: 1px solid lightgrey;
            margin-bottom: 1rem;
        }
        p.success-message {
            color: darkgreen;
            font-size: 0.9rem;
        }
        p.warning-message {
            color: orange;
            font-size: 0.9rem;
        }
        p.failure-message {
            color: darkred;
            font-size: 0.9rem;
        }
        li.failure-message {
            color: darkred;
            font-size: 0.9rem;
        }
        #csv_drop_zone {
            width: 100%;
            height: 200px;
            border: 2px dashed #aaa;
            border-radius: 5px;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 20px;
            cursor: pointer;
            background-color: #f2f2f2;
        }
        #csv_drop_zone.dragover {
            border-color: #777;
            background-color: #e6e6e6; /* darker grey when a file is dragged over */
        }
        #csv_drop_zone.file-dropped {
            background-color: #e6f7e9; /* very light green when a file is dropped */
        }
        
    </style>
</head>

<body>
    <div id="overlay" style="display:none; position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0,0,0,0.7); z-index: 9999; cursor: pointer;">
        <div style="position: absolute; top: 50%; left: 50%; font-size: 50px; color: white; transform: translate(-50%,-50%);">
            <i class="fa fa-spinner fa-spin"></i>
        </div>
    </div>
    <div class="container">
        <h1>Welcome, {{first_name_hbs}}!</h1>
        <hr>
        <ol class="action-step">
            <h3>Listing Automation</h3>
            <p><b>Create Etsy draft listings</b> (using the file in the .csv folder)</p>
            <form action="/createDigitalEtsyDrafts" method="post" id="digital_drafts_form">
                <input type="hidden" name="access_token" value="{{access_token_hbs}}" />
                <input type="hidden" name="refresh_token" value="{{refresh_token_hbs}}" />
                <input type="hidden" name="shop_id" value="{{shop_id_hbs}}" />
                <input type="hidden" name="first_name" value="{{first_name_hbs}}" />
                <input type="hidden" name="type_of_run" id="typeOfRun" value="create" />
                {{!-- <input type="file" name="csvfile" accept=".csv" required /> --}}
                <button type="button" class="btn btn-primary btn-lg mb-2" id="createButton">Create Etsy Drafts</button>
                <button type="button" class="btn btn-secondary btn-lg mb-2" id="resumeButton">Resume Etsy Drafts</button>
                {{#if csvErrors}}
                    <p class="failure-message"><b>The following errors were found in the .csv file, please fix and try again:</b></p>
                    {{#each csvErrors}}
                        <p class="failure-message">{{this}}</p>
                    {{/each}}
                {{/if}}
                {{#if showHolidaysValue}}
                    <p class="failure-message"><b>The following are the valid values for 'Holidays', please fix and try again:</b></p>
                    <div>
                        <ul>
                            {{#each holidays}}
                                <li class="failure-message">{{@key}}</li>
                            {{/each}}
                        </ul>
                    </div>
                {{/if}}
                {{#if catchErrorMessageEtsyDrafts}}
                    <p class="failure-message"><b>There were errors creating the following draft listings on Etsy, please fix or remove these rows from the .csv file, then retry the automation.</b></p>
                    {{#each catchErrorMessageEtsyDrafts}}
                        <p class="failure-message">{{this}}</p>
                    {{/each}}
                {{/if}}
                {{#if catchErrorMessageEtsyImageUploads}}
                    <p class="failure-message"><b>There were errors uploading some images to Etsy, see below:</b></p>
                    {{#each catchErrorMessageEtsyImageUploads}}
                        <p class="failure-message">{{this}}</p>
                    {{/each}}
                {{/if}}
                {{#if completedWithNoErrors}}
                    <p class="success-message"><b>Successfully created all listings on Etsy with no errors.</b></p>
                {{/if}}
            </form>
        </ol>
        <ol class="action-step">
            <h5>Additional Tools</h5>
            <p><b>Get description from created listing</b></p>
            <p>(You can set the new description in the app's 'templates' folder in the 'defaultListingDataDigital.json' or 'defaultListingDataDigitalSet.json')</p>
            <form action="/getEtsyDescription" method="get" class="form-custom">
                <input type="hidden" name="access_token" value="{{access_token_hbs}}" />
                <input type="hidden" name="shop_id" value="{{shop_id_hbs}}" />
                <input type="hidden" name="first_name" value="{{first_name_hbs}}" />
                <input type="number" name="listing_id" placeholder="Enter Listing ID" required />
                <button type="submit" class="btn btn-info mb-2">Get Etsy Description</button>
            </form>
        </ol>
        <ol class="action-step">
            <h3>Pinterest</h3>
            <form action="/pinterestEndpoint" method="get" class="form-custom" id="pinterestForm">
                <input type="hidden" name="access_token" value="{{access_token_hbs}}" />
                <input type="hidden" name="shop_id" value="{{shop_id_hbs}}" />
                <input type="hidden" name="first_name" value="{{first_name_hbs}}" />
                <input type="hidden" name="button_pressed" id="buttonPressed" value="" />
                <div>
                    <input type="checkbox" id="activeListings" name="active_listings" value="true">
                    <label for="activeListings">Get active listings</label>
                </div>
                <button type="button" class="btn btn-primary btn-lg mb-2" id="videoButton">Export Video Pinterest .csv</button>
                <button type="button" class="btn btn-primary btn-lg mb-2" id="imageButton">Export Image Pinterest .csv</button>
                <p>(.csv will be created in in the app's main folder)</p>
                {{#if pinterestCsvCreated}}
                    <p class="success-message"><b>Pinterest CSV created.</b></p>
                {{/if}}
                {{#if pinterestCsvNoErrors}}
                    <p class="success-message"><b>No errors.</b></p>
                {{/if}}
                {{#if pinterestCsvErrors}}
                    <p class="failure-message"><b>There were the following errors:</b></p>
                    {{#each pinterestCsvErrors}}
                        <p class="failure-message">{{this}}</p>
                    {{/each}}
                {{/if}}
            </form>
        </ol>
        <hr>
        <ol class="action-step">
            <h3>Etsy Web Scraper (Via API)</h3>
            <p>To get the Shop ID, visit the shop and hover over the 'contact' button. Then see in the bottom left:</p>
            <img src="/assets/SHOPIDEXAMPLE.png" alt="Shop ID Example" style="margin-bottom: 20px;">
            <form action="/etsyScraperViaAPI" method="post" id="etsyFormViaAPI" class="form-custom text-center">
                <textarea name="textInput" class="form-control mb-2" style="width: 100%;" rows="8" placeholder="ShopID,URLofShopSection/phrase (one per line)" required></textarea>
                <input type="hidden" name="access_token" value="{{access_token_hbs}}" />
                <input type="hidden" name="refresh_token" value="{{refresh_token_hbs}}" />
                <input type="hidden" name="shop_id" value="{{shop_id_hbs}}" />
                <input type="hidden" name="first_name" value="{{first_name_hbs}}" />
                <input type="hidden" name="scrapeButtonType" id="scrapeButtonTypeViaAPI" value="" />
                {{!-- <input type="file" name="csvfile" accept=".csv" required /> --}}
                <div>
                    <label for="limit_results">Only get the first X listings per line</label>
                    <input type="number" id="limit_results" name="limit_results" min="1" max="100" required />
                </div>
                <div>
                    <input type="checkbox" id="removeFinalWord" name="remove_final_word" value="true">
                    <label for="removeFinalWord">Remove final word from titles</label>
                </div>
                <button type="button" class="btn btn-primary btn-lg mb-2" id="scrapebuttonViaAPI1">Scrape Entire Shop</button>
                <button type="button" class="btn btn-primary btn-lg mb-2" id="scrapebuttonViaAPI2">Scrape Shop Section</button>
                <button type="button" class="btn btn-primary btn-lg mb-2" id="scrapebuttonViaAPI3">Scrape Shop for Phrase</button>
                {{#if completedScrapeAPI}}
                    <div class="alert alert-success mt-3" role="alert">
                        API Scrape successfully completed!
                    </div>
                {{/if}}
            </form>
        </ol>
        <ol class="action-step">
            <h3>Download listing images from .csv (Via API)</h3>
            <form action="/downloadImagesViaAPI" method="post" id="downloadImagesViaAPIForm" class="form-custom text-center" enctype="multipart/form-data">
            <div id="csv_drop_zone">Drag and drop the .csv file here or click to select</div>
            <input type="file" id="csv_fileInput" name="csvfile" accept=".csv" class="form-control mb-2" style="width: 100%; display: none;" required>
            <input type="hidden" name="access_token" value="{{access_token_hbs}}" />
            <input type="hidden" name="refresh_token" value="{{refresh_token_hbs}}" />
            <input type="hidden" name="shop_id" value="{{shop_id_hbs}}" />
            <input type="hidden" name="first_name" value="{{first_name_hbs}}" />
            <button type="submit" class="btn btn-primary btn-lg mb-2">Submit</button>
                {{#if completedDownloadImagesViaAPI}}
                    <div class="alert alert-success mt-3" role="alert">
                        Downloading of images from .csv successfully completed!
                    </div>
                {{/if}}
            </form>
        </ol>
    </div>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function() {
            $('form').submit(function() {
                $('#overlay').show();
            });
        });
    </script>
    <script>
        document.getElementById('scrapebuttonViaAPI1').addEventListener('click', function() {
            document.getElementById('scrapeButtonTypeViaAPI').value = 'scrapebuttonentireshop';
            $('#overlay').show();
            document.getElementById('etsyFormViaAPI').submit();
        });

        document.getElementById('scrapebuttonViaAPI2').addEventListener('click', function() {
            document.getElementById('scrapeButtonTypeViaAPI').value = 'scrapebuttonspecificsection';
            $('#overlay').show();
            document.getElementById('etsyFormViaAPI').submit();
        });

        document.getElementById('scrapebuttonViaAPI3').addEventListener('click', function() {
            document.getElementById('scrapeButtonTypeViaAPI').value = 'scrapebuttonphrase';
            $('#overlay').show();
            document.getElementById('etsyFormViaAPI').submit();
        });
    </script>
    <script>
        document.getElementById('createButton').addEventListener('click', function() {
                document.getElementById('typeOfRun').value = 'create';
                $('#overlay').show();
                document.getElementById('digital_drafts_form').submit();
            });
            
        document.getElementById('resumeButton').addEventListener('click', function() {
                document.getElementById('typeOfRun').value = 'resume';
                $('#overlay').show();
                document.getElementById('digital_drafts_form').submit();
            });
    </script>
    <script>
        document.getElementById('videoButton').addEventListener('click', function() {
            document.getElementById('buttonPressed').value = 'videoCSV';
            $('#overlay').show();
            document.getElementById('pinterestForm').submit();
        });

        document.getElementById('imageButton').addEventListener('click', function() {
            document.getElementById('buttonPressed').value = 'imageCSV';
            $('#overlay').show();
            document.getElementById('pinterestForm').submit();
        });
    </script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var dropZone = document.getElementById('csv_drop_zone');
            var fileInput = document.getElementById('csv_fileInput');

            dropZone.addEventListener('click', function() {
                fileInput.click();
            });

            dropZone.addEventListener('dragover', function(e) {
                e.preventDefault();
                dropZone.classList.add('dragover');
            });

            dropZone.addEventListener('dragleave', function(e) {
                e.preventDefault();
                dropZone.classList.remove('dragover');
            });

            dropZone.addEventListener('drop', function(e) {
                e.preventDefault();
                dropZone.classList.remove('dragover'); 
                dropZone.classList.add('file-dropped');

                if (e.dataTransfer.files.length) {
                    fileInput.files = e.dataTransfer.files;
                    // Update drop zone text
                    dropZone.innerText = e.dataTransfer.files[0].name;
                }
            });

            // Update drop zone text when file is selected via file dialog
            fileInput.addEventListener('change', function() {
                if (fileInput.files.length) {
                    dropZone.innerText = fileInput.files[0].name;
                    dropZone.classList.add('file-dropped');
                }
            });
        });
    </script>
</body>

</html>
